.total-answers {
    padding: 18px 5px 10px;
    display: flex;
    align-items: center !important;
    justify-content: space-between !important;
}

.author-span {
    font-size: 13px;
    font-weight: 500;
    color: #0d233e;
}

.answer-date {
    font-size: 12px;
    color: var(--bs-gray);
    justify-content: flex-end;
    padding: .25rem 0;
}

.answer-body {
    padding: .25rem;
}

.author-image-span img {
    width: 32px;
}

.author-text-span {
    font-size: 14px;
}

.badge-official {
    font-size: .65rem;
}