.input-box {
    padding-bottom: 10px !important;
}

.form-group {
    margin-bottom: 16px;
}

.form--control {
    height: 50px;
    font-size: 15px;
    padding-right: 18px;
    padding-left: 18px;
}

.search-suggestions {
    min-width: 300px;
    z-index: 1000;
}

.suggestion-text {
    padding: .5rem 1rem .2rem .5rem;
    margin-bottom: 0;
    font-weight: 500;
}

.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.categories {
    background: #006bb7!important;
}