@page "/sign-in"

<PageTitle>Sign in with your Google account</PageTitle>

<style>
    body { background-color: #201f1e; }
</style>

<RadzenCard class="rz-my-12 rz-mx-auto text-white" Style="max-width: 450px; background: #3a3937;">
    <div class="text-center">
        <h1 class="title">AssistClub</h1>
        <h3 class="py-3">Sign in with your Google account</h3>
        <p class="py-2">
            <NavLink class="btn btn-dark" href="login">Sign in</NavLink>
        </p>
    </div>
</RadzenCard>

@code {
    
}